body:has(.container) {
  padding: 16px;
  margin: 0;
  background-color: #fafaff;
}

.container {
  width: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.title {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0;
  margin: 0;
  color: #222;
  word-break: keep-all;
}

.icon {
  flex-grow: 0;
  flex-shrink: 0;
  aspect-ratio: 1;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  background-color: #eee;
}

.check {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.checkLabel {
  display: contents;
  flex-grow: 1;
  flex-shrink: 0;
  white-space: nowrap;
}

.checkInput {
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 8px;
}

.url {
  flex-grow: 0;
  flex-shrink: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
