body:has(.container) {
  margin: 0;
}

.container {
  width: 100%;
  min-height: 100dvh;
  background-color: #fdfeff;
}

.inner {
  width: 64svmin;
  padding: 8svmin 0;
  margin: 0 auto;
}

.section {
  padding: 4svmin 0;
}

.title {
  margin: 0;
  font-size: 4svmin;
  color: #335;
}

.sectionTitle {
  padding-left: 1svmin;
  margin: 0;
  font-size: 2svmin;
  color: #334;
  border-left: 0.4svmin solid #9cf;
}

.sectionTitle + div {
  padding: 2svmin 0;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4svmin;
}

.input:not(:last-child) {
  border-bottom: solid 1px #ddd;
}

.input > label {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.6svmin;
  line-height: 4svmin;
  cursor: pointer;
  user-select: none;
}

.input > input {
  position: relative;
  width: 2svmin;
  height: 0.8svmin;
  appearance: none;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 0.4svmin;
  transition: background-color 0.2s ease-in-out;
}

.input > input:checked {
  background-color: #cce;
}

.input > input:focus {
  outline: none;
}

.input > input::before {
  position: absolute;
  top: -0.3svmin;
  left: -0.3svmin;
  display: block;
  width: 1.4svmin;
  height: 1.4svmin;
  content: '';
  background-color: #555;
  border-radius: 0.7svmin;
  box-shadow: 0 0 0 0 #3352;
  transition-timing-function: ease-out, ease-in-out, ease-in-out;
  transition-duration: 0.2s, 0.1s, 0.1s;
  transition-property: left, background-color, box-shadow;
}

.input > input:checked::before {
  left: 0.9svmin;
  background-color: #669;
}

.input > input:is(:hover, :focus)::before {
  box-shadow: 0 0 0 0.4svmin #3352;
}

.input > input:checked:is(:hover, :focus)::before {
  box-shadow: 0 0 0 0.4svmin #42428122;
}

.input > svg {
  width: 2svmin;
  height: 2svmin;
  margin-right: 1svmin;
  color: #669;
}
